<div class="right_side flex flex-col items-center justify-center">

    <lottie-player class=""src="https://assets10.lottiefiles.com/packages/lf20_qlwqp9xi.json"  background="transparent"  speed="1"  style="width: 600px; height: 600px;"  loop  autoplay></lottie-player>


</div>